@import url(variables.css);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-between;
    padding: 2vh;
    /* background-color: rosybrown; */
}
body{
    background-image: url(/storage/imgs/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header img{
    width:8vw
}

.titulo{
    display:flex; 
    align-items: center;
}

.titulo p{
    font-size: 4vw;
    margin-left: 2.5vw;
    color: white;
    font-family: "basic_text";
}

.titulo img{
    width:8vw;
}

.main{
    padding: 3vh;
    /* background-color: olive; */
}

.titulo1 h1{
    font-size: 8.5vw;
    color: white;
    font-family: "Main_title";
}

.titulo2 h1{
    font-size: 8.5vw;
    color: white;
    font-family: "Main_title2";
    font-weight: lighter;
}

.cont_stad{
    display:flex;
    justify-content: space-between;
    margin-top: 3vh;
    gap:19vw;
    /* border: 1px solid black; */
}

.right{
    /* border: 1px solid black; */
    flex-grow: 1;
    margin-left: -9vw;
}

.left{
    /* border: 1px solid black; */
    flex-grow: 1;
}

.left p,
.right p{
    font-size: 4vw;
    font-family: "Main_title2";
    color: white;
}

.left h2,
.right h2{
    font-size: 6vw;
    font-family: "basic_text";
    color: white;
    margin-top: 0.5vh;
}

.left span,
.right span{
    font-size: 2vh;
}

.rw {
    height: 1.6vw;
    margin-top: 1vh;
    z-index: 1;
    position: absolute;
}

.rw2 {
    height: 1.6vw;
    margin-top: 1vh;
    margin-left: 2vw;
    z-index: 1;
    position: absolute;
}

.right p,
.right h2{
    margin-left: 3vw;
}

.act_tra{
    /* border:1px solid black; */
    padding-left:5vw;
    padding-top: 5vh;
    margin-top: 3vh;
    height:100%;
    width:100%;
    background-color: #cfebff;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
}

.slider{
    /* border:1px solid black; */
    padding:1vh;
    width:90vw;
    display:flex;
    gap:5vw;
    margin-top: 1vh;
    overflow-x: scroll;
}

.cont{
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: white;
    border-radius: 2vh;
    box-shadow: -1px 1px 10px 0px #324172;
}

.slider img{
    /* border:1px solid black; */
    display: flex;
    margin: 0 auto;
    height: 10vw;
}

.cont p{
    font-size: 4vw;
    text-align: center;
    font-family: "basic_text";
    margin-top: 2vh;
    font-weight: lighter;
    width: 20vw;
}

.activities h4{
    font-family: "basic_text";
    font-size: 5.5vw;
    padding-left: 1vw;
}

.footer{
    /* border: 1px solid black; */
    background-color:#324172;
    position:fixed;
    bottom:0vh;
    width:100%;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.footer_ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:1vh;
    /* border: 1px solid black */
}

.footer_ul li{
    list-style: none;

}

.footer_ul li a{
    display:flex
}

.footer_ul li a img{
    object-fit: contain;
    height:10vw
}

.transactions h4{
    font-family: "basic_text";
    font-size: 5.5vw;
    margin-top: 3vh;
    padding-left: 1vw;
}

.cont_trans{
    display:flex;
    flex-direction: column;
    margin-top: 3vh;
    /* border: 1px solid black; */
}

.bottom{
    margin-top: 3vh;
    overflow-y: scroll;
}

.first{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2vh;
    width: 88vw
}

.top img{
    height:12vw
}

.text1_top{
    margin-left: 2vw;
    width:35vw;
    /* border: 1px solid blue; */
}

.text2_top{
    margin-left: 2vw;
    width:15vw;
    /* border: 1px solid blue; */
}

.text1_top p{
    font-size: 4vw;
    font-family: "basic_text"
}

.text2_top p{
    font-size: 4vw;
    font-family: "basic_text";
    display: flex;
    justify-content: end;
}

.text2_top small{
    display: flex;
    padding-top:0.3vh;
    justify-content: end;
    font-family: "Main_title2";
    font-size: 3vw;
    color: #324172
}

.text1_top small{
    display: flex;
    padding-top:0.3vh;
    justify-content: start;
    font-family: "Main_title2";
    font-size: 3vw;
    color: #324172
}

.texts{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    width:80vw
}
