*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    background-color: rosybrown;
}
body{
    padding:20px;
}
.header img{
    width:8%
}

.titulo{
    display:flex; 
    align-items: center;
}

.titulo p{
    margin-left: 2.5vw;
}

.titulo img{
    width:30%
}

.main{
    margin-top: 7vh;
    border:1px solid black;
    background-color: olive;
}

.main h1{
    font-size: 4.8vh;
}
