<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <title>balance</title>
</head>
<body>
    <header class="header">
        <div class="titulo">
            <img src="../storage/imgs/logo2.png">
            <p>EMERALD</p>
        </div>
            <img src="../storage/imgs/menuprin.svg">
    </header>
    <article class="circle">
        <p>Total<p>
        <p>Balance</p>
        <p><span>$</span>214,417</p>
    </article>
    <section class="cajas">
        <article class="box1">
            <p>Assets</p>
        </article>
        <article class="box2">
            <p>Debt</p>
        </article>
        <article class="box3">
            <p>Income</p>
        </article>
    </section>
    <section class="imagenaba">
        <img src="../storage/imgs/stadystics.svg">
    </section>
    <section class="pigcuadro">
        <article class="contpig">
            <img src="../storage/imgs/Group 14.svg">
        </article>
    <section class="america">
        <article class="equis">
            <img src="../storage/imgs/equis.svg">
        </article>
        <article class="texto">
            <h1>Spending.</h1>
            <p>You forgot to add debt card number<br>
                at payment #1323. Add it now</p>
        </article>
    </section>
    </section>
    <footer class="footer">
        <ul class="footer_ul">
            <li>
                <a href="#">
                    <img src="../storage/imgs/casa.svg">
                </a>
            </li>
            <li>
                <a href="../views/balance.html">
                    <img src="../storage/imgs/libro2.svg">
                </a>
            </li>
            <li>
                <a href="../views/galaxi.html">
                    <img src="../storage/imgs/menu.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/imgs/campana.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/imgs/usuario2.svg">
                </a>
            </li>
        </ul>
        <ul class="footer_uli">
            <li>
                <a href="#">
                    <!-- <img src="/storage/imgs/Ellipse 2.svg"> -->
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/imgs/Ellipse 2.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- <img src="../storage/imgs/Ellipse 2.svg"> -->
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- <img src="/storage/imgs/Ellipse 2.svg"> -->
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- <img src="/storage/imgs/Ellipse 2.svg"> -->
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>