<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/galaxi.css">
    <title>Galaxi</title>
</head>
<body>
    <header class="header">
        <div class="titulo">
            <img src="../storage/imgs/logo3.png">
            <p>EMERALD</p>
        </div>
            <img src="../storage/imgs/menuprin2.svg">
    </header>
    <main class="main">
        <h1>Investing Tips</h1>
            <section class="pigcuadro">
                <article class="contpig">
                    <img src="../storage/imgs/cerdito.svg">
                </article>
                <article class="texto">
                    <h1>What is an ETF?</h1>
                    <p>By James B, PHD</p>
                    <a class="bottom" href="#">LEARN MORE</a>
                </article>
                <article class="equis">
                    <img src="../storage/imgs/equis.svg">
                </article>
            </section>
    </main>
    <section class="cards">
        <article class="top">
            <div class="activities">
                <h4>My Cards (4)</h4>
            </div>
            <div class="slider">
                <div class="cont">
                    <div class="arriba">
                        <img src="../storage/imgs/tarjeta.svg">
                        <p>**** 6175</p>
                    </div>
                    <div class="medio">
                        <p><span>$</span> 47,417</p>
                    </div>
                    <div class="abajo">
                        <img src="../storage/imgs/Frame 17.svg">
                    </div>
                </div>
                <div class="cont2">
                    <div class="arriba">
                        <img src="../storage/imgs/tarjeta.svg">
                        <p>**** 2026</p>
                    </div>
                    <div class="medio">
                        <p><span>$</span> 584,46</p>
                    </div>
                    <div class="abajo">
                        <img src="../storage/imgs/Frame 33.svg">
                    </div>
                </div>
                <div class="cont">
                    <div class="arriba">
                        <img src="../storage/imgs/tarjeta.svg">
                        <p>**** 6175</p>
                    </div>
                    <div class="medio">
                        <p><span>$</span> 47,417</p>
                    </div>
                    <div class="abajo">
                        <img src="../storage/imgs/Frame 17.svg">
                    </div>
                </div>
                <div class="cont2">
                    <div class="arriba">
                        <img src="../storage/imgs/tarjeta.svg">
                        <p>**** 2026</p>
                    </div>
                    <div class="medio">
                        <p><span>$</span> 584,46</p>
                    </div>
                    <div class="abajo">
                        <img src="../storage/imgs/Frame 33.svg">
                    </div>
                </div> 
        </article>
    </section>
    <footer class="footer">
        <ul class="footer_ul">
            <li>
                <a href="#">
                    <img src="../storage/imgs/casa.svg">
                </a>
            </li>
            <li>
                <a href="../views/balance.html">
                    <img src="../storage/imgs/libro.svg">
                </a>
            </li>
            <li>
                <a href="../views/galaxi.html">
                    <img src="../storage/imgs/menu2.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/imgs/campana.svg">
                </a>
            </li>
            <li>
                <a href="/index.html">
                    <img src="../storage/imgs/usuario2.svg">
                </a>
            </li>
        </ul>
        <ul class="footer_uli">
            <li>
                <a href="#">
                    <!-- <img src="/storage/imgs/Ellipse 2.svg"> -->
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- <img src="/storage/imgs/Ellipse 2.svg"> -->
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/imgs/Ellipse 2.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- <img src="/storage/imgs/Ellipse 2.svg"> -->
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- <img src="/storage/imgs/Ellipse 2.svg"> -->
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>