<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/galaxi.css">
    <title>Galaxi</title>
</head>
<body>
    <header class="header">
        <div class="titulo">
            <img src="../storage/imgs/logo2.svg">
            <p>EMERALD</p>
        </div>
            <img src="../storage/imgs/menuprin2.svg">
    </header>
    <main class="main">
        <h1>Investing Tips</h1>
            <section class="pigcuadro">
                <article class="contpig">
                    <img src="../storage/imgs/cerdito.svg">
                </article>
                <article class="texto">
                    <h1>What is an ETF?</h1>
                    <p>By James B, PHD</p>
                    <a href="#">LEARN MORE</a>
                </article>
                <article class="equis">
                    <img src="/storage/imgs/equis.svg">
                </article>
            </section>
    </main>
</body>
</html>